<p id="notice"><%= notice %></p>

<p>
  <strong>Authorname:</strong>
  <%= @comment.authorName %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>Grumble:</strong>
  <%= @comment.grumble %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
