<p id="notice"><%= notice %></p>

<p>
  <strong>Authorname:</strong>
  <%= @grumble.authorName %>
</p>

<p>
  <strong>Content:</strong>
  <%= @grumble.content %>
</p>

<p>
  <strong>Title:</strong>
  <%= @grumble.title %>
</p>

<p>
  <strong>Photourl:</strong>
  <%= @grumble.photoUrl %>
</p>

<%= link_to 'Edit', edit_grumble_path(@grumble) %> |
<%= link_to 'Back', grumbles_path %>
